.menu-only{
    background: #fff;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    border-radius: 3px;

}

// Меню
.menu{
    margin-top: 20px;
  }
  .dropdown-menu{
    display: none;
  }
  .mega-menu{
    height: 60px;
  }
  // Меню Конец