<div class="menu-only" style="padding-left: 0px; padding-right: 117px; opacity: 1;">
    <nav class="mega-menu sliced">
            <div class="table-menu catalog_icons_Y">
<div class="marker-nav"></div>
<table>
<tbody><tr>
                                                            <td class="menu-item dropdown" style="visibility: visible;">
        <div class="wrap">
            <a class="dropdown-toggle" href="/company/">
                Компания								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                            <span class="tail"></span>
                <ul class="dropdown-menu">
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/company/index.php" title="О компании">О компании</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/company/licenses/" title="Лицензии">Лицензии</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/company/partners/" title="Партнеры">Партнеры</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/company/vacancy/" title="Вакансии">Вакансии</a>
                                                                    </li>
                                                    </ul>
                                    </div>
    </td>
                                                            <td class="menu-item dropdown wide_menu" style="visibility: visible;">
        <div class="wrap">
            <a class="dropdown-toggle" href="/product/">
                Каталог								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                            <span class="tail"></span>
                <ul class="dropdown-menu">
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/383/60_60_1/azvjr94wyzgye2u94p8ci2xbfc1i1low.png" data-src="/upload/resize_cache/iblock/383/60_60_1/azvjr94wyzgye2u94p8ci2xbfc1i1low.png" alt="Оборудование для COVID-19" title="Оборудование для COVID-19"></div>
                                                                                                                        <a href="/product/oborudovanie-dlya-covid-19/" title="Оборудование для COVID-19">Оборудование для COVID-19<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/uvlazhniteli/" title="Увлажнители">Увлажнители</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/aspiratory/" title="Аспираторы">Аспираторы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/vysokopotochnaya-nazalnaya-terapiya/" title="Высокопоточная назальная терапия">Высокопоточная назальная терапия</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/infuzionnaya-tekhnika-viltechmeda/" title="Инфузионная техника">Инфузионная техника</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/monitory/" title="Мониторы">Мониторы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/oborudovanie-dlya-covid-19/pulsoksimetry/" title="Пульсоксиметры">Пульсоксиметры</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/590/60_60_1/i2evih6uob9x8mhyll1t58i4cqvrf75d.png" data-src="/upload/resize_cache/iblock/590/60_60_1/i2evih6uob9x8mhyll1t58i4cqvrf75d.png" alt="Акушерство и Гинекология" title="Акушерство и Гинекология"></div>
                                                                                                                        <a href="/product/akusherstvo-i-ginekologiya/" title="Акушерство и Гинекология">Акушерство и Гинекология<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/akusherstvo-i-ginekologiya/fetalnye-monitory/" title="Фетальные мониторы">Фетальные мониторы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/akusherstvo-i-ginekologiya/aspiratory-vakuum-ekstraktory-ardo/" title="Аспираторы (вакуум-экстракторы)">Аспираторы (вакуум-экстракторы)</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/akusherstvo-i-ginekologiya/klinicheskie-molokootsosy/" title="Клинические молокоотсосы">Клинические молокоотсосы</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/087/60_60_1/ob5m5aiyddgcv2p2f09x4rnp6w19a16x.png" data-src="/upload/resize_cache/iblock/087/60_60_1/ob5m5aiyddgcv2p2f09x4rnp6w19a16x.png" alt="Ультразвуковая диагностика" title="Ультразвуковая диагностика"></div>
                                                                                                                        <a href="/product/ultrazvukovaya-diagnostika/" title="Ультразвуковая диагностика">Ультразвуковая диагностика<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/ultrazvukovaya-diagnostika/uzi-skanery-chison/" title="УЗИ сканеры CHISON">УЗИ сканеры CHISON</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/ultrazvukovaya-diagnostika/uzi-skanery-samsung/" title="УЗИ сканеры SAMSUNG">УЗИ сканеры SAMSUNG</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/ultrazvukovaya-diagnostika/uzi-skanery-fujifilm-hitachi/" title="УЗИ сканеры FUJIFILM (HITACHI)">УЗИ сканеры FUJIFILM (HITACHI)</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/0f2/60_60_1/29iesqv1lpv1pctt2x75dt9gvqts31fu.png" data-src="/upload/resize_cache/iblock/0f2/60_60_1/29iesqv1lpv1pctt2x75dt9gvqts31fu.png" alt="Инфузионная техника" title="Инфузионная техника"></div>
                                                                                                                        <a href="/product/infuzionnaya-tekhnika/" title="Инфузионная техника">Инфузионная техника<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/infuzionnaya-tekhnika/shpritsevye-nasosy-viltechmeda/" title="Шприцевые насосы">Шприцевые насосы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/infuzionnaya-tekhnika/volyumetricheskie-nasosy-viltechmeda/" title="Волюметрические насосы">Волюметрические насосы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/infuzionnaya-tekhnika/infuzionnaya-stantsii-/" title="Инфузионная станции">Инфузионная станции</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/infuzionnaya-tekhnika/infuzionnye-stoyki/" title="Инфузионные стойки">Инфузионные стойки</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" lazyloaded" src="/upload/resize_cache/iblock/34b/60_60_1/2qwr5472dxvdqkqp0it3177gor0kyrww.png" data-src="/upload/resize_cache/iblock/34b/60_60_1/2qwr5472dxvdqkqp0it3177gor0kyrww.png" alt="Анестезиология и Реанимация" title="Анестезиология и Реанимация"></div>
                                                                                                                        <a href="/product/anesteziologiya-i-reanimatsiya/" title="Анестезиология и Реанимация">Анестезиология и Реанимация<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/apparati-ivl-tecme/" title="Аппараты ИВЛ">Аппараты ИВЛ</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/narkozno-dykhatelnye-apparaty-drager/" title="Наркозно-дыхательные аппараты">Наркозно-дыхательные аппараты</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/monitory-patsienta/" title="Мониторы пациента">Мониторы пациента</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/aspiratory-otsosy-ardo/" title="Аспираторы (отсосы)">Аспираторы (отсосы)</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/uwlazhniteli/" title="Увлажнители">Увлажнители</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/smesiteli-kislorod-vozdukh/" title="Смесители (кислород/воздух)">Смесители (кислород/воздух)</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/meditsinskie-kompressory/" title="Медицинские компрессоры">Медицинские компрессоры</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/anesteziologiya-i-reanimatsiya/pulsoksimetri/" title="Пульсоксиметры">Пульсоксиметры</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/819/60_60_1/njffrojaijkt85ipdd7jzelqcilk1ytd.png" data-src="/upload/resize_cache/iblock/819/60_60_1/njffrojaijkt85ipdd7jzelqcilk1ytd.png" alt="Неонатология и реанимация" title="Неонатология и реанимация"></div>
                                                                                                                        <a href="/product/neonatologiya-i-reanimatsiya/" title="Неонатология и реанимация">Неонатология и реанимация<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/apparaty-iwl/" title="Аппараты ИВЛ">Аппараты ИВЛ</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/vysokochastotnye-ivl-hfo-acutronic/" title="Высокочастотные ИВЛ/HFO">Высокочастотные ИВЛ/HFO</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/neinvazivnaya-cpap-terapiya-acutronic/" title="Неинвазивная CPAP терапия">Неинвазивная CPAP терапия</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/inkubatory-ardo/" title="Инкубаторы">Инкубаторы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/otkrytye-reanimatsionnye-sistemy-ardo/" title="Открытые реанимационные системы">Открытые реанимационные системы</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/luchistoe-teplo-ardo/" title="Лучистое тепло">Лучистое тепло</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/fototerapiya-ardo/" title="Фототерапия">Фототерапия</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/aspiratory-otsosy-vakuum-ekstraktory-ardo/" title="Аспираторы (отсосы, вакуум-экстракторы)">Аспираторы (отсосы, вакуум-экстракторы)</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/neonatologiya-i-reanimatsiya/monitori-patsienta/" title="Мониторы пациента">Мониторы пациента</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/b60/60_60_1/m0p79h9drl7ceu40itvaalr81kv9x3sc.png" data-src="/upload/resize_cache/iblock/b60/60_60_1/m0p79h9drl7ceu40itvaalr81kv9x3sc.png" alt="ГБО" title="ГБО"></div>
                                                                                                                        <a href="/product/gbo/" title="ГБО">ГБО<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/gbo/barokameri-sechrist/" title="Барокамеры">Барокамеры</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/gbo/komplektuyushchie-dlya-barokamer/" title="Принадлежности для барокамер">Принадлежности для барокамер</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                                <div class="menu_img"><img lazyload="" class=" ls-is-cached lazyloaded" src="/upload/resize_cache/iblock/8e0/60_60_1/olwte5l82o1ifnwc5cqskekn60wzqt3n.png" data-src="/upload/resize_cache/iblock/8e0/60_60_1/olwte5l82o1ifnwc5cqskekn60wzqt3n.png" alt="Медицинское газоснабжение" title="Медицинское газоснабжение"></div>
                                                                                                                        <a href="/product/meditsinskoe-gazosnabzhenie/" title="Медицинское газоснабжение">Медицинское газоснабжение<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu toright" style="left: auto; right: 100%;">
                                                                                                                                                    <li class="  ">
                                            <a href="/product/meditsinskoe-gazosnabzhenie/meditsinskie-konsoli-silbermann/" title="Медицинские консоли  Silbermann" style="white-space: normal;">Медицинские консоли  Silbermann</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/meditsinskoe-gazosnabzhenie/tsentralnye-stantsii/" title="Центральные станции" style="white-space: normal;">Центральные станции</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/product/meditsinskoe-gazosnabzhenie/portativnye-generatory-kisloroda/" title="Портативные генераторы кислорода" style="white-space: normal;">Портативные генераторы кислорода</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                    </ul>
                                    </div>
    </td>
                                                            <td class="menu-item dropdown" style="visibility: visible;">
        <div class="wrap">
            <a class="dropdown-toggle" href="/services/">
                Услуги								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                            <span class="tail"></span>
                <ul class="dropdown-menu">
                                                                                                                                            <li class="dropdown-submenu count_4  has_img">
                                                                        <a href="/services/avtomatizatsiya/" title="Проектирование отделений под ключ">Проектирование отделений под ключ<span class="arrow"><i></i></span></a>
                                                                                                                            <ul class="dropdown-menu toggle_menu">
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/podgotovka-mediko-tekhnicheskogo-zadaniya-na-proektirovanie-i-ili-vypolnenie-rabot/" title="Подготовка медико-технического задания на проектирование чистых помещений" style="">Подготовка медико-технического задания на проектирование чистых помещений</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/postavka-i-vvod-v-ekspluatatsiyu-tsentralnoy-kompressornoy-stantsii/" title="Поставка и ввод в эксплуатацию центральной компрессорной станции" style="">Поставка и ввод в эксплуатацию центральной компрессорной станции</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/postavka-i-vvod-v-ekspluatatsiyu-tsentralnoy-vakuumnoy-stantsii/" title="Поставка и ввод в эксплуатацию центральной вакуумной станции" style="">Поставка и ввод в эксплуатацию центральной вакуумной станции</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/stanovka-kislorodnoy-rampy-dlya-avtomaticheskogo-vybora-istochnika-kisloroda/" title="Установка кислородной рампы для автоматического выбора источника кислорода" style="">Установка кислородной рампы для автоматического выбора источника кислорода</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/razvodka-truboprovodov-meditsinskikh-gazov-po-lechebnomu-uchrezhdeniyu/" title="Разводка трубопроводов медицинских газов по лечебному учреждению" style="">Разводка трубопроводов медицинских газов по лечебному учреждению</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/ustanovka-sistemy-kontrolya-i-trevog-po-meditsinskim-gazam/" title="Установка системы контроля и тревог по медицинским газам" style="">Установка системы контроля и тревог по медицинским газам</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/ustanovka-moduley-patsienta-konsoley-nastennykh-ili-potolochnykh/" title="Установка консолей - настенных или потолочных" style="">Установка консолей - настенных или потолочных</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/vnutrennyaya-otdelka-chistykh-pomeshcheniy/" title="Внутренняя отделка чистых помещений" style="">Внутренняя отделка чистых помещений</a>
                                                                                                    </li>
                                                                                                                                                    <li class="  ">
                                            <a href="/services/avtomatizatsiya/kontrol-temperatury-vlazhnosti-i-chistoty-vozdukha-v-chistykh-pomeshcheniyakh/" title="Контроль температуры, влажности и чистоты воздуха" style="">Контроль температуры, влажности и чистоты воздуха</a>
                                                                                                    </li>
                                                                                                                                        </ul>
                                                                    </li>
                                                                                                                                            <li class=" count_4  has_img">
                                                                        <a href="/services/eskiznoe-proektirovanie-meditsinskikh-obektov/" title="Эскизное проектирование медицинских объектов">Эскизное проектирование медицинских объектов</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  has_img">
                                                                        <a href="/services/obuchenie-inzhenerov/" title="Обучение инженеров">Обучение инженеров</a>
                                                                    </li>
                                                    </ul>
                                    </div>
    </td>
                                                            <td class="menu-item" style="visibility: visible;">
        <div class="wrap">
            <a class="" href="/service/">
                Сервис								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                    </div>
    </td>
                                                            <td class="menu-item dropdown" style="visibility: visible;">
        <div class="wrap">
            <a class="dropdown-toggle" href="/info/">
                Информация								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                            <span class="tail"></span>
                <ul class="dropdown-menu">
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/info/sales/" title="Акции">Акции</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/info/news/" title="Новости">Новости</a>
                                                                    </li>
                                                                                                                                            <li class=" count_4  ">
                                                                        <a href="/info/articles/" title="Статьи">Статьи</a>
                                                                    </li>
                                                    </ul>
                                    </div>
    </td>
                                                            <td class="menu-item" style="visibility: visible;">
        <div class="wrap">
            <a class="" href="/contacts/">
                Контакты								<i class="fa fa-angle-down"></i>
                <div class="line-wrapper"><span class="line"></span></div>
            </a>
                                    </div>
    </td>

<td class="menu-item dropdown js-dropdown nosave" style="display: none; visibility: visible;">
    <div class="wrap">
        <a class="dropdown-toggle more-items" href="#">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="3" viewBox="0 0 17 3">
                  <defs>
                    <style>
                      .cls-1 {
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path class="cls-1" d="M923.5,178a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,923.5,178Zm7,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,930.5,178Zm7,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,937.5,178Z" transform="translate(-922 -178)"></path>
                </svg>
            </span>
        </a>
        <span class="tail"></span>
        <ul class="dropdown-menu"></ul>
    </div>
</td>

</tr>
</tbody></table>
</div>
    </nav>
</div>